<footer>

  <div class="no-select footer-container">

    <div class="footer-content">

      <div class="social-footer" data-nosnippet>
        {% include components/linkage.html link="instagram.com/maliwandynamics/"
        image="/assets/img/social/ig-instagram-icon.svg" %}
        {% include components/linkage.html link="x.com/maliwandynamics/"
        image="/assets/img/social/twitter-square-color-icon.svg" %}
        {% include components/linkage.html link="youtube.com/@MaliwanDynamics"
        image="/assets/img/social/youtube-app-icon.svg" %}
      </div>

      <span>Just Learning As I Go</span>

    </div>

    <div class="footer-copy" data-nosnippet>
      <span>© Maliwan Dynamics. All Rights Reserved | </span>
      <a href="/privacy">Privacy</a>
    </div>

  </div>

</footer>