<footer>
  <div class="no-select footer-container">
    <div class="footer-content">

      <div class="social-footer" data-nosnippet>
        <a href="https://instagram.com/maliwandynamics/" target="_blank" rel="noopener noreferrer">
          <img src="/assets/img/social/ig-instagram-icon.svg" alt="Img Not Found" draggable="false">
        </a>
        <a href="https://x.com/maliwandynamics/" target="_blank" rel="noopener noreferrer">
          <img src="/assets/img/social/twitter-square-color-icon.svg" alt="Img Not Found" draggable="false">
        </a>
        <a href="https://youtube.com/@MaliwanDynamics" target="_blank" rel="noopener noreferrer">
          <img src="/assets/img/social/youtube-app-icon.svg" alt="Img Not Found" draggable="false">
        </a>
      </div>

      <span>Just Learning As I Go</span>
    </div>

    <div class="footer-copy" data-nosnippet>
      <span>© Maliwan Dynamics. All Rights Reserved | </span>
      <a href="/privacy">Privacy</a>
    </div>

  </div>
</footer>