<footer class="no-select  footer-container">

    <div data-nosnippet class="footer-content">

        <section class="social-footer">
        {% include components/linkage.html link="instagram.com/maliwandynamics/" image="/assets/img/social/ig-instagram-icon.svg" %}
        {% include components/linkage.html link="x.com/maliwandynamics/" image="/assets/img/social/twitter-square-color-icon.svg" %}
        {% include components/linkage.html link="youtube.com/@MaliwanDynamics" image="/assets/img/social/youtube-app-icon.svg" %}
        </section>

        <section class="details-footer">
            <div>Just Learning As I Go</div>
        </section>

    </div>

    <div data-nosnippet class="footer-end">
        <span>© Maliwan Dynamics. All Rights Reserved | </span>
        <a href="/privacy">Privacy</a>
    </div>

</footer>