<header class="no-select header-container">

  <nav class="header-content">

    <div class="header-nav">

      <div class="header-logo"><img src="/assets/img/logo/baseprofilelogo.jpg" /></div>

      <ul class="top-menu">

        <input type="checkbox" id="checkbox-toggle" />
        <label for="checkbox-toggle" class="hamburger">&#9776</label>

        <div class="menu">
          <li><a href="/index">Home</a></li>
          <li><a href="/about">About</a></li>
        </div>

      </ul>

    </div>

  </nav>

</header>