<header class="header-container">

  <nav class="no-select header-content">
    <!-- <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a> -->

    <div class="cls-rainbow-div header-nav">

      <div class="header-logo"><img src="/assets/img/logo/baseprofilelogo.jpg" /></div>

      <ul class="top-menu">

        <input type="checkbox" id="checkbox-toggle" />
        <label for="checkbox-toggle" class="hamburger">&#9776</label>

        <div class="menu">
          <li><a href="/index">Home</a></li>
          <li><a href="/about">About</a></li>
        </div>

      </ul>

    </div>

  </nav>

</header>