<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <meta name="robots" content="noarchive">
  {% seo %}
  {% if page.videoId && site.yt_img_url_base %}
  <meta property="og:image" content="{{ site.yt_img_url_base }}{{ page.videoId }}/0.jpg" />
  {% else %}
  <meta property="og:image" content="{{ site.url }}/assets/img/logo/med-logo.png" />
  {% endif %}
  {% if page.author %}
  {% else %}
  <meta property="author" content="{{ site.defaultAuthor }}" />
  {% endif %}
  {% if page.twitterUser %}
  <meta property="twitter:creator" content="{{ site.twitterUser }}" />
  {% endif %}
  <link rel="stylesheet" href="/assets/css/style.css">

  <link rel="shortcut icon" type="img/x-icon" href="/favicon.ico">
</head>