<header class="no-select header-container">
  <nav class="header-content">
    <div class="header-nav">

      <div class="header-logo">
        <a href="{{ site.url }}" draggable="false" rel="noopener noreferrer">
          <img src="/assets/img/logo/med-logo-compressed.png" alt="{{ site.altImgUrl }}" rel="noopener noreferrer" />
        </a>
      </div>

      <ul class="top-menu">

        <input type="checkbox" id="checkbox-toggle" />
        <label for="checkbox-toggle" class="hamburger">&#9776</label>

        <div class="menu">
          <li>
            <a {% if page.name=="index.md" %} class="active-menu" {% endif %} draggable="false" href="{{ site.url }}"
              rel="noopener noreferrer">HOME</a>
          </li>
          <li>
            <a {% if page.name=="blog.md" %} class="active-menu" {% endif %} draggable="false" href="/blog"
              rel="noopener noreferrer">BLOG</a>
          </li>
          <li>
            <a {% if page.name=="videos.md" %} class="active-menu" {% endif %} draggable="false" href="/video"
              rel="noopener noreferrer">VIDEO</a>
          </li>
          <li>
            <a {% if page.name=="about.md" %} class="active-menu" {% endif %} draggable="false" href="/about"
              rel="noopener noreferrer">ABOUT</a>
          </li>
        </div>

      </ul>
    </div>
  </nav>
</header>