@charset "utf-8";

$master-font-family: Arial, Helvetica, sans-serif;
$master-font-size: 16px;

// $decor-font-family: "New Amsterdam", sans-serif;
$decor-font-family: "Chakra Petch", sans-serif;

$master-padding: 4px;
$master-content-width: 900px;
$content-scale: 70vh;
$header-height: 50px;

@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@import
  "foundation/skeleton",
  "foundation/page",
  "foundation/post",
  "foundation/home",
  "foundation/header",
  "foundation/footer";

@import
  "components/card",
  "utility";