
@mixin display-align-center {
    align-items: center;
    justify-content: center;
}

@mixin flexium {
    display: flex;
    flex-wrap: wrap;
    @include display-align-center;
}

@mixin flexium-rev {
    display: flex;
    flex-wrap: wrap-reverse;
    @include display-align-center;
}

@mixin blocking {
    display: inline-block;
    @include display-align-center;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-pointer-event {
    pointer-events: none;
}