
<a class="post-card" href="{{ post.url }}">

    {% if post.videoId %}

        <div class="post-card-item">
            <p>{{ post.title }}</p>
            <p class="generic-date">{{ post.date | date: '%-d %B %Y' }}</p>
            <p class="generic-categories">
            {% for cat in post.categories %}
                {{ cat }};
            {% endfor %}
            </p>
        </div>
        <div class="post-card-item">
            <div class="post-card-img" style="background-image: url({{ site.yt_img_url_base }}{{ post.videoId }}/0.jpg)"></div>
        </div>

    {% else if post.url %}

        <div class="post-card-item">
            <p>{{ post.title }}</p>
            <p class="generic-date">{{ post.date | date: '%-d %B %Y' }}</p>
            <p class="generic-categories">
                {% for cat in post.categories %}
                    {{ cat }};
                {% endfor %}
            </p>
        </div>
        <div class="post-card-item">
            <div class="post-card-img" style="background-image: url({{ post.imgUrl }})"></div>
        </div>

    {% else %}

        <p>Post Not Found</p>

    {% endif %}

</a>