.post-card-container {
    margin: 0 auto;
}

.post-card {

    @include flexium;

    // TODO: Additional fleium options for text alignment top etc...
    // display: flex;
    // flex-wrap: wrap;

    text-decoration: none;
    font-weight: bold;

    width: 100%;
    min-width: 50px;

    height: auto;
    margin-top: 20px;

    color: $master-accent-grey;

    border-top: 1px solid $master-accent-light-grey;

}

.post-card p {
    padding: 0 !important;
}

.post-card:hover {
    background-color: $master-accent;
    color: $master-accent-black;
}

.post-card-item {
    padding: 5px;
    display: inline-block;

    width: calc(100% / 2 - 10px);
    min-width: 200px;
}

.post-card-img {

    width: 100%;
    height: 220px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

@media (max-width: 768px) {
    .post-card-item {
        width: 100%;
    }
}