.figure-wrapper {
    max-width: 100%;
    max-height: 720px;
    background-color: $master-accent-black;
    margin: 0 auto;
}

.general-figure-wrapper {
    max-width: 85%;
    max-height: 720px;
    background-color: $master-accent-black;
    margin: 0 auto;

    border: 1px solid $master-accent-black;
}

.figure-wrapper img, .general-figure-wrapper img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.figure {
    width: 100%;
    margin: 0 auto;
}

.figure p {
    border-bottom: 1px solid $master-accent-grey;
    font-size: 12pt;
    padding: 0 !important;
}
