.post-image-wrapper {
    max-width: 100%;
    max-height: 720px;
    background-color: black;
    margin: 0 auto;
}

.post-image-wrapper img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.image-figure {
    width: 100%;
    margin: 0 auto;
}

.image-figure p {
    border-bottom: 1px solid $master-accent-grey;
    font-size: 12pt;
    padding: 0 !important;
}

