.share-box {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.share-box a {
    margin: 5px;
    vertical-align: middle;
    text-decoration: none;
}

.share-box a:hover img { 
    transform: scale(1.1);
}

.share-box img {
    vertical-align: middle;
    width: 1.5rem;
}
