---
layout: skeleton
---
<div class="no-select home-container">
  <div class="row-fw pad-b-10">
    <div class="col-2-f">
      {%- if page.title -%}
      <div class="title-container">
        <h1 class="home-header">{{ page.title }}</h1>
        <p>{{ site.statement | escape }}</p>
        {% include bar-effect.html %}
      </div>
      {%- endif -%}
    </div>
    <div class="no-pointer-event col-2-f">
      <img class="home-img w-90" src="/assets/img/logo/med-logo-compressed.png" alt="{{ site.altImgUrl }}"" />
    </div>
  </div>
  <div class="home-content">{{ content }}</div>
</div>