---
layout: skeleton
---
<div class="no-select home-container">

  <section class="hero-header-container">

    <div class="hero-header">

      <div class="home-words">

        {%- if page.title -%}
        <div class="title-container">
          {% include bar-effect.html %}
          <h1 class="home-header">{{ page.title }}</h1>
          <p>{{ site.statement | escape }}</p>
        </div>
        {%- endif -%}

      </div>

      <div class="no-pointer-event home-img">
        <img class="home-img" src="/assets/img/logo/med-logo-compressed.png" alt="{{ site.altImgUrl }}" />
      </div>

    </div>

  </section>

  <section class="home-content">
    {{ content }}
  </section>

</div>