<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body id="lol-dis-body-id">
  {% include header.html %}
  <main aria-label="Content">
    <div class="main-container">
      <noscript>
        <div class="noscript-styling">
          <p>WARNING: This site will NOT work as intended without JavaScript Enabled.</p>
          <p>Either your browser is outdated or JavaScript is disabled.</p>
        </div>
      </noscript>
      <div id="skeleton">{{ content }}</div>
    </div>
  </main>
  {% include footer.html %}
</body>
</html>