.footer-container {
    display: block;
    @include flexium;

    font-family: $decor-font-family;

    min-height: $footer-height;
    max-width: $master-content-width;
    margin: 0 auto;

    background-color: $master-accent
}

.footer-content {
    width: 100%;

    text-align: center;
    font-size: 17pt;
}

.social-footer {
    width: 100%;
    margin: 0 auto;
}

.social-footer a {
    text-decoration: none;
}

.social-footer img {
    vertical-align: middle;
    width: 3rem;
    height: 3rem;
}

.footer-copy {
    width: 100%;
    text-align: center;
    font-size: 9pt !important;
}
