.footer-container {
    @include flexium;

    font-family: $decor-font-family;

    min-height: $footer-height;
    max-width: $master-content-width;
    margin: 0 auto;

    background-color: $master-accent
}

.footer-content {
    display: inline-block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 17pt;
}

.social-footer {
    @include flexium;
    margin: 0 auto;
    min-width: 200px;
}

.social-footer a {
    text-decoration: none;
}

@supports (transform: scale(1.1)) {
    .social-footer a:hover img {
        transform: scale(1.1);
    }
}

.social-footer img {
    vertical-align: bottom;
    width: 3.3rem;
    margin: .3rem;
}

.details-footer {
    margin: 0 auto;
    min-width: 200px;
}

.footer-end {
    display: inline-block;
    font-size: 12px !important;
}
