.home-container {
    margin: 0 auto;
    padding-bottom: 10px;
}

.home-header {
    margin: 0 auto;
}

.home-content {
    margin: 0 auto;
    max-width: 100%;
}

.home-words {
    display: inline-block;
    text-align: center;
    height: 170px;

    display: table;
}

.title-container {
    display: table-cell;
    vertical-align: bottom;
    margin: 0 auto;
    height: auto;
}

.hero-header-container {
    @include flexium;
    height: calc(70vh - #{$header-height});
    min-height: 300px;
}

.hero-header { 
    @include flexium-rev;
    width: 95%;
    margin: 0 auto;
}

.home-img {
    width: 330px;
}

.square {
    display: inline-block;

    height: 100%;
    width: 12px;
    height: 5px;

    background-color: $master-cyan;
    border-radius: 5px;
    position: relative;

    z-index: 10;
}

#square1 {animation: spinner-effect 1.1s ease .6s infinite;}
#square2 {animation: spinner-effect 1.3s ease .6s infinite;}
#square3 {animation: spinner-effect 1.5s ease .6s infinite;}
#square4 {animation: spinner-effect 1.7s ease .6s infinite;}
#square5 {animation: spinner-effect 1.6s ease .6s infinite;}
#square6 {animation: spinner-effect 1.2s ease .6s infinite;}
#square1:hover, #square2:hover, #square3:hover, #square4:hover, #square5:hover, #square6:hover {
    animation-play-state: paused;
}

@media (max-width: 700px) {
    .hero-header-container {
        min-height: 600px;
    }

    .home-img {
        width: 280px;
    }
}

@keyframes spinner-effect {
    0% {
        opacity: 1;
        height: 5px;
    }

    60% {
        opacity: 1;
        height: 90px;
        opacity: .5;
    }

    100% {
        opacity: .2;
        height: 5px;
    }
}
