.page-container {
    margin: 0 auto;
    padding-bottom: 25px;
    padding-top: 25px
}

.page-header {
    margin: 0 auto;
    text-align: center;
}

.page-content {
    width: 100%;
}

.page-content p {
    padding: 1rem 0 1rem;
}