.post-container {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-content {
    width: 100%;
}

.post-header {
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-content p {
    padding: 1rem 0 1rem;
}

.post-image {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    padding-top: 8px;
    padding-bottom: 5px;
}

.post-content h1 {
    font-size: 20pt;
}

.post-content h2 {
    font-size: 18pt;
}

.post-content h3 {
    font-size: 16pt;
}