.post-container {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-content {
    width: 100%;
}

.post-header {
    margin-top: .7rem;
    margin-bottom: .7rem;
}

.post-content p {
    padding: 1rem 0 1rem;
    line-height: 1.8em;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    padding-top: .8rem;
    padding-bottom: .1rem;
}

.post-content h1 {
    font-size: 20pt;
}

.post-content h2 {
    font-size: 18pt;
}

.post-content h3 {
    font-size: 16pt;
}
