.post-container {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-content {
    width: 100%;
}

.post-header {
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-content p {
    padding: 1rem 0 1rem;
}