html {
    font-size: $master-font-size;
    font-family: $master-font-family;

    @include master-background;
    background-attachment: fixed;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

// TODO: The min hight in the main container does not bump margin and padding in sub containers.
#skeleton {
    max-width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
}

.main-container {
    margin: 0 auto;
    width: 100%;
    max-width: $master-content-width;
    min-height: $content-scale;
    background-color: $master-background;
}

h1 {
    font-size: 2.1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $decor-font-family;
}

p, li {
    font-size: 16pt;
}

a {
    color: $master-cyan-accent;
}

.generic-date {
    font-size: 12pt;
    color: $master-accent-grey;
}

.generic-categories {
    font-size: 11pt;
    color: $master-accent-grey;
    font-style: italic;
}

.noscript-styling {
    color: red;
    font-size: 20pt;
    padding: 10px;
}

@media (max-width: 720px) {
    h1 {
        font-size: 1.6rem;
    }
}
